## Group Memberâ€™s Name:-
## Muhammad Arsalan (2303.KHI.DEG.025)
## Abdul Rehman (2303.KHI.DEG.035)
## Arshad Shiwani (2303.KHI.DEG.026)

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import (max, min, avg, col, when, udf)
from pyspark.sql.types import StringType

## starting the spark session

In [2]:
spark = SparkSession.builder \
    .appName("Data Processing") \
    .getOrCreate()

23/05/29 11:00:55 WARN Utils: Your hostname, all-MS-7D35 resolves to a loopback address: 127.0.1.1; using 192.168.1.139 instead (on interface enp2s0)
23/05/29 11:00:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/29 11:00:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## given the columns name and import the data.

In [3]:
columns = ['PassengerId', 'Survived', 'Passenger_class','Name','Gender','Age','Siblings_Spouse','Par_child','Ticket','Fare','Cabin','Embarked','Timestamp']
              
df = spark.read.csv("./data/titanic.csv",inferSchema=True)
df = df.toDF(*columns)

df.show()

+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+--------+-------------------+
|PassengerId|Survived|Passenger_class|                Name|Gender| Age|Siblings_Spouse|Par_child|          Ticket|   Fare|Cabin|Embarked|          Timestamp|
+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+--------+-------------------+
|          1|       0|              3|Braund, Mr. Owen ...|  male|  22|              1|        0|       A/5 21171|   7.25| null|       S|2020-01-01 13:45:25|
|          2|       1|              1|Cumings, Mrs. Joh...|female|  38|              1|        0|        PC 17599|71.2833|  C85|       C|2020-01-01 13:44:48|
|          3|       1|              3|Heikkinen, Miss. ...|female|  26|              0|        0|STON/O2. 3101282|  7.925| null|       S|2020-01-01 13:38:11|
|          4|       1|              1|Futrelle, Mrs. Ja...|female|  35|              1|        0|          113803|   53.1| C123|       S|2020-01-01 13:32:00|
|          5|       0|              3|Allen, Mr. Willia...|  male|  35|              0|        0|          373450|   8.05| null|       S|2020-01-01 13:36:30|
|          6|       0|              3|    Moran, Mr. James|  male|null|              0|        0|          330877| 8.4583| null|       Q|2020-01-01 13:31:39|
|          7|       0|              1|McCarthy, Mr. Tim...|  male|  54|              0|        0|           17463|51.8625|  E46|       S|2020-01-01 13:37:31|
|          8|       0|              3|Palsson, Master. ...|  male|   2|              3|        1|          349909| 21.075| null|       S|2020-01-01 13:49:08|
|          9|       1|              3|Johnson, Mrs. Osc...|female|  27|              0|        2|          347742|11.1333| null|       S|2020-01-01 13:33:42|
|         10|       1|              2|Nasser, Mrs. Nich...|female|  14|              1|        0|          237736|30.0708| null|       C|2020-01-01 13:32:53|
|         11|       1|              3|Sandstrom, Miss. ...|female|   4|              1|        1|         PP 9549|   16.7|   G6|       S|2020-01-01 13:32:23|
|         12|       1|              1|Bonnell, Miss. El...|female|  58|              0|        0|          113783|  26.55| C103|       S|2020-01-01 13:30:12|
|         13|       0|              3|Saundercock, Mr. ...|  male|  20|              0|        0|       A/5. 2151|   8.05| null|       S|2020-01-01 13:33:34|
|         14|       0|              3|Andersson, Mr. An...|  male|  39|              1|        5|          347082| 31.275| null|       S|2020-01-01 13:30:20|
|         15|       0|              3|Vestrom, Miss. Hu...|female|  14|              0|        0|          350406| 7.8542| null|       S|2020-01-01 13:41:17|
|         16|       1|              2|Hewlett, Mrs. (Ma...|female|  55|              0|        0|          248706|   16.0| null|       S|2020-01-01 13:34:22|
|         17|       0|              3|Rice, Master. Eugene|  male|   2|              4|        1|          382652| 29.125| null|       Q|2020-01-01 13:41:55|
|         18|       1|              2|Williams, Mr. Cha...|  male|null|              0|        0|          244373|   13.0| null|       S|2020-01-01 13:39:35|
|         19|       0|              3|Vander Planke, Mr...|female|  31|              1|        0|          345763|   18.0| null|       S|2020-01-01 13:39:38|
|         20|       1|              3|Masselmani, Mrs. ...|female|null|              0|        0|            2649|  7.225| null|       C|2020-01-01 13:36:56|
+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+--------+-------------------+
only showing top 20 rows

## Change the Coloums Values to Yes or No and 1 or 2 etc.

In [4]:
df = df.withColumn("Survived", when(col("Survived") == 1, "Yes").otherwise("No"))\
       .withColumn("Passenger_class", when(col("Passenger_class") == 1, "1st").when(col("Passenger_class") == 2, '2nd').otherwise('3rd'))\
       .withColumn("Embarked", when(col("Embarked") == 'S', 'Southampton').when(col("Embarked") == 'C', 'Cherbourg').otherwise('Queenstown'))

In [5]:
df.show()

+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+-----------+-------------------+
|PassengerId|Survived|Passenger_class|                Name|Gender| Age|Siblings_Spouse|Par_child|          Ticket|   Fare|Cabin|   Embarked|          Timestamp|
+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+-----------+-------------------+
|          1|      No|            3rd|Braund, Mr. Owen ...|  male|  22|              1|        0|       A/5 21171|   7.25| null|Southampton|2020-01-01 13:45:25|
|          2|     Yes|            1st|Cumings, Mrs. Joh...|female|  38|              1|        0|        PC 17599|71.2833|  C85|  Cherbourg|2020-01-01 13:44:48|
|          3|     Yes|            3rd|Heikkinen, Miss. ...|female|  26|              0|        0|STON/O2. 3101282|  7.925| null|Southampton|2020-01-01 13:38:11|
|          4|     Yes|            1st|Futrelle, Mrs. Ja...|female|  35|              1|        0|          113803|   53.1| C123|Southampton|2020-01-01 13:32:00|
|          5|      No|            3rd|Allen, Mr. Willia...|  male|  35|              0|        0|          373450|   8.05| null|Southampton|2020-01-01 13:36:30|
|          6|      No|            3rd|    Moran, Mr. James|  male|null|              0|        0|          330877| 8.4583| null| Queenstown|2020-01-01 13:31:39|
|          7|      No|            1st|McCarthy, Mr. Tim...|  male|  54|              0|        0|           17463|51.8625|  E46|Southampton|2020-01-01 13:37:31|
|          8|      No|            3rd|Palsson, Master. ...|  male|   2|              3|        1|          349909| 21.075| null|Southampton|2020-01-01 13:49:08|
|          9|     Yes|            3rd|Johnson, Mrs. Osc...|female|  27|              0|        2|          347742|11.1333| null|Southampton|2020-01-01 13:33:42|
|         10|     Yes|            2nd|Nasser, Mrs. Nich...|female|  14|              1|        0|          237736|30.0708| null|  Cherbourg|2020-01-01 13:32:53|
|         11|     Yes|            3rd|Sandstrom, Miss. ...|female|   4|              1|        1|         PP 9549|   16.7|   G6|Southampton|2020-01-01 13:32:23|
|         12|     Yes|            1st|Bonnell, Miss. El...|female|  58|              0|        0|          113783|  26.55| C103|Southampton|2020-01-01 13:30:12|
|         13|      No|            3rd|Saundercock, Mr. ...|  male|  20|              0|        0|       A/5. 2151|   8.05| null|Southampton|2020-01-01 13:33:34|
|         14|      No|            3rd|Andersson, Mr. An...|  male|  39|              1|        5|          347082| 31.275| null|Southampton|2020-01-01 13:30:20|
|         15|      No|            3rd|Vestrom, Miss. Hu...|female|  14|              0|        0|          350406| 7.8542| null|Southampton|2020-01-01 13:41:17|
|         16|     Yes|            2nd|Hewlett, Mrs. (Ma...|female|  55|              0|        0|          248706|   16.0| null|Southampton|2020-01-01 13:34:22|
|         17|      No|            3rd|Rice, Master. Eugene|  male|   2|              4|        1|          382652| 29.125| null| Queenstown|2020-01-01 13:41:55|
|         18|     Yes|            2nd|Williams, Mr. Cha...|  male|null|              0|        0|          244373|   13.0| null|Southampton|2020-01-01 13:39:35|
|         19|      No|            3rd|Vander Planke, Mr...|female|  31|              1|        0|          345763|   18.0| null|Southampton|2020-01-01 13:39:38|
|         20|     Yes|            3rd|Masselmani, Mrs. ...|female|null|              0|        0|            2649|  7.225| null|  Cherbourg|2020-01-01 13:36:56|
+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+-----------+-------------------+
only showing top 20 rows

## Now finding the Min,Max,and Avg here.

In [6]:
numerical_columns = [column[0] for column in df.dtypes if column[1] in ['int','float']]

numerical_df = df.select(*numerical_columns).describe()
summary_df = numerical_df.select(numerical_columns[1:]).summary('min','max','mean')

In [7]:
summary_df.show()

+-------+------------------+------------------+-----------------+
|summary|               Age|   Siblings_Spouse|        Par_child|
+-------+------------------+------------------+-----------------+
|    min|                 0|                 0|                0|
|    max|                80|               891|              891|
|   mean|167.64315089562422|180.12515025772694|179.6375301872114|
+-------+------------------+------------------+-----------------+

## Here we Make the user define Function in which we change the last alphabets to 1.

In [8]:
def change_last_letter(word):
    return word[:-1] + '1'

change_last_letter_udf = udf(change_last_letter, StringType())

categorical_columns = ['Survived', 'Passenger_class', 'Embarked']  # Replace with your categorical column names

for col in categorical_columns:
    df = df.withColumn(col, change_last_letter_udf(col))

df.show()

+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+-----------+-------------------+
|PassengerId|Survived|Passenger_class|                Name|Gender| Age|Siblings_Spouse|Par_child|          Ticket|   Fare|Cabin|   Embarked|          Timestamp|
+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+-----------+-------------------+
|          1|      N1|            3r1|Braund, Mr. Owen ...|  male|  22|              1|        0|       A/5 21171|   7.25| null|Southampto1|2020-01-01 13:45:25|
|          2|     Ye1|            1s1|Cumings, Mrs. Joh...|female|  38|              1|        0|        PC 17599|71.2833|  C85|  Cherbour1|2020-01-01 13:44:48|
|          3|     Ye1|            3r1|Heikkinen, Miss. ...|female|  26|              0|        0|STON/O2. 3101282|  7.925| null|Southampto1|2020-01-01 13:38:11|
|          4|     Ye1|            1s1|Futrelle, Mrs. Ja...|female|  35|              1|        0|          113803|   53.1| C123|Southampto1|2020-01-01 13:32:00|
|          5|      N1|            3r1|Allen, Mr. Willia...|  male|  35|              0|        0|          373450|   8.05| null|Southampto1|2020-01-01 13:36:30|
|          6|      N1|            3r1|    Moran, Mr. James|  male|null|              0|        0|          330877| 8.4583| null| Queenstow1|2020-01-01 13:31:39|
|          7|      N1|            1s1|McCarthy, Mr. Tim...|  male|  54|              0|        0|           17463|51.8625|  E46|Southampto1|2020-01-01 13:37:31|
|          8|      N1|            3r1|Palsson, Master. ...|  male|   2|              3|        1|          349909| 21.075| null|Southampto1|2020-01-01 13:49:08|
|          9|     Ye1|            3r1|Johnson, Mrs. Osc...|female|  27|              0|        2|          347742|11.1333| null|Southampto1|2020-01-01 13:33:42|
|         10|     Ye1|            2n1|Nasser, Mrs. Nich...|female|  14|              1|        0|          237736|30.0708| null|  Cherbour1|2020-01-01 13:32:53|
|         11|     Ye1|            3r1|Sandstrom, Miss. ...|female|   4|              1|        1|         PP 9549|   16.7|   G6|Southampto1|2020-01-01 13:32:23|
|         12|     Ye1|            1s1|Bonnell, Miss. El...|female|  58|              0|        0|          113783|  26.55| C103|Southampto1|2020-01-01 13:30:12|
|         13|      N1|            3r1|Saundercock, Mr. ...|  male|  20|              0|        0|       A/5. 2151|   8.05| null|Southampto1|2020-01-01 13:33:34|
|         14|      N1|            3r1|Andersson, Mr. An...|  male|  39|              1|        5|          347082| 31.275| null|Southampto1|2020-01-01 13:30:20|
|         15|      N1|            3r1|Vestrom, Miss. Hu...|female|  14|              0|        0|          350406| 7.8542| null|Southampto1|2020-01-01 13:41:17|
|         16|     Ye1|            2n1|Hewlett, Mrs. (Ma...|female|  55|              0|        0|          248706|   16.0| null|Southampto1|2020-01-01 13:34:22|
|         17|      N1|            3r1|Rice, Master. Eugene|  male|   2|              4|        1|          382652| 29.125| null| Queenstow1|2020-01-01 13:41:55|
|         18|     Ye1|            2n1|Williams, Mr. Cha...|  male|null|              0|        0|          244373|   13.0| null|Southampto1|2020-01-01 13:39:35|
|         19|      N1|            3r1|Vander Planke, Mr...|female|  31|              1|        0|          345763|   18.0| null|Southampto1|2020-01-01 13:39:38|
|         20|     Ye1|            3r1|Masselmani, Mrs. ...|female|null|              0|        0|            2649|  7.225| null|  Cherbour1|2020-01-01 13:36:56|
+-----------+--------+---------------+--------------------+------+----+---------------+---------+----------------+-------+-----+-----------+-------------------+
only showing top 20 rows

## In this line of code we make parquet file in which we save first column data which is sorted.

In [9]:
# Assuming you have a DataFrame called 'df'
sorted_df = df.orderBy(df.columns[0])  # Sort by the first column

sorted_df.write.parquet("titanic_sorted_data_file.parquet")  # Save sorted DataFrame to Parquet file